.footer{
    background-color: #2B92E4;
    padding: 40px 120px;
    display: flex;
}
.footer-list{
    width: 33.33%;
}
.footer-name{
    color: white;
    font-size: 24px;
    padding-bottom:20px ;
}
.footer-items{
    color: white;
    font-size: 16px;
    line-height: 30px;
    display: flex;
}
.footer-icon{
    padding-left: 8px;
}