.home_product_items{
    width: 25%;
    background-color: #c8c3c3;
    text-align: center;
    border-radius: 10px;
    border: 4px solid #f1f2f3;
    position: relative;
}
.home_img{
    width: 255px;
    height: 170px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.home_name{
    Font:'Inter';
    font-weight: 700;
    font-size:24px;
   Line-height :38.73px;
   padding: 0 14px;
   color:  #000000;
}
.home_price{
    Font:'Inter';
    font-size:16px;
    Line-height:29.05px;
    padding: 0 14px;
    font-weight: 400;
    /* font-size: ; */
}

.home_priceSale{
    Font:'Inter';
    font-weight: 400;
    font-size:16px;
    padding: 0 14px;
    Line-height:29.05px;
}
.home_icon_cart{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.home_discount{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 30px;
    background-color:  #FF0000;
    border-radius: 0 10px 0 0;
}